@{
    ViewData["Title"] = "Home Page";
}

<!--slider-->
<div id="slider">
    <div class="slides">
        <!-- First slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Welcome to <strong>Tangible Africa</strong> </h1>
                    <h2> Exposing kids to coding </h2>
                </div>
            </div>
            <div class="images">
               

            </div>
        </div>
        <!-- Second slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Demystifying Coding </h1>
                    <h2> Across Africa </h2>
                </div>
            </div>
            <div class="images">

               
            </div>
        </div>
        <!-- Third slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Demystifying Coding </h1>
                    <h2> Across Africa </h2>
                </div>
            </div>
            <div class="images">

                
            </div>
        </div>
        <!-- Fourth slide -->
        <div class="slider">
            <div class="legend"></div>
            <div class="content">
                <div class="content-txt">
                    <h1> Demystifying Coding </h1>
                    <h2> Across Africa </h2>
                </div>
            </div>
            <div class="images">

                
            </div>
        </div>
    </div>
</div>
<!--end slider-->
<!--services-->
<div class="services">
    <section>
        <div class="text-left mb-0">
            <h5>Services | <a style=" color:#342998">Our Services </a></h5> 
            <hr />

        </div>
        <div class="row">
            <div class="col-md-3 my-2">
                <div class="px-3 my-5">
                    <div class="circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4"
                         style="width: 60px; height: 60px; background-color: #1b5e8a">
                        <i class="fab-solid fa-graduation-cap"></i>
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h6 class="text-uppercase" style="font-weight: 700">Train the teacher</h6>
                        <p class="font-weight-light my-3">
                            Info About Train the teacher
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #1b5e8a ">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="px-3 my-5">
                    <div class="circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4"
                         style="width: 60px; height: 60px; background-color: #1b5e8a; color:white" >
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h6 class="text-uppercase" style="font-weight: 600">Workshops</h6>
                        <p class="font-weight-light my-3">
                            Info About workshop
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #1b5e8a ">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="px-3 my-5">
                    <div class="circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4"
                         style="width: 60px; height: 60px; background-color: #1b5e8a ">
                        <i class="fab-solid fa-chalkboard"></i>
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h6 class="text-uppercase" style="font-weight: 600">C# Academy</h6>
                        <p class="font-weight-light my-3">
                            Info About C# Academy
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #1b5e8a ">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3 my-2">
                <div class="px-3 my-5">
                    <div class="circle text-white rounded-circle d-flex align-items-center justify-content-center mx-auto mb-4"
                         style="width: 60px; height: 60px; background-color: #1b5e8a ">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <div class="px-3 text-center pb-3">
                        <h6 class="text-uppercase" style="font-weight: 600">Tournaments</h6>
                        <p class="font-weight-light my-3">
                            Info About Tournaments   
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #1b5e8a ">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--end services-->
<!--products-->
<div class="products">
    <section>
        <div class="text-left mb-5">
            <h5>Products |  <a style=" color:#342998">Our Products </a></h5>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-4 my-2"  >
                <div class="px-3 my-5" >
                    <div class="px-3 text-center pb-3" >
               
                        <p class="font-weight-light my-3">
                          A problem solving game to teach learners how to code.
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #18699f; ">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="px-3 my-5">
                    <div class="px-3 text-center pb-3">
                      
                        <p class="font-weight-light my-3">
                            Solve puzzles by placing tokens down to help you capture poachers!
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #18699f; ">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="px-3 my-5">
                    <div class="px-3 text-center pb-3">
                 
                        <p class="font-weight-light my-3">
                           A game that educates players on the challenge of plastics in the Ocean.
                        </p>
                        <button class="btn my-4 px-4 py-2 rounded-pill text-white" style="background-color: #18699f; ">Read More</button>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<!--end products-->
<!--Partners -->
<div class="partners ">
    <section>
        <div class="text-left mb-5">
            <hr />
            <h4>Our Partners and Sponsors</h4>

        </div>
        <div class="row" >
            <div class="col-md-3 my-2">
                <img src="~/img/images (3).jpeg" />
            </div>
            <div class="col-md-3 my-2">
                <img src="~/img/logo-white.png" />
            </div>
            <div class="col-md-3 my-2">

                <img src="~/img/images.png" />
            </div>
            <div class="col-md-3 my-2">
                <img src="~/img/Transaction-Junction-logo.png" />
            </div>
        </div>
    </section>
</div>
<!--end partners-->
